// Colores
$primary: #007b3b;
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;

$custom-primary: #17693f;
$custom-primary-light: #007b3b;
$custom-accent: #ff6f00;

// Tema light
$body-bg-start: #ffffff;
$body-bg-end: #ececec;

// Tipografía
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

// Layout
$header-height: 80px;
$footer-bg: #007b3b;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";
